@import "tailwindcss";

@theme {
  --color-primary: #f5f5f5;
  --color-accent: #a3a3a3; /* Gris elegante en lugar de dorado */
  --color-bg: #0a0a0a;     /* Negro mate */
}

@layer base {
  body {
    @apply bg-bg text-primary font-sans antialiased;
  }
}
